@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

body, h1, h2, h3, h4, h5, h6, .contact-note {
  font-family: 'Playfair Display', serif !important;
}

.social {
  margin: 0rem 0rem !important;
  padding: 0rem 0rem !important;
}

.coloured_text {
  color: var(--global-theme-color);
}

/* Reduce spacing between paragraph and following list */
p:has(+ ul),
p:has(+ ol) {
  margin-bottom: 0.1rem !important;
}

strong, b {
  font-weight: 700;
}